{{#partial "content"}}

    {{#if editTeam}}
        <h1>Edit this Team!</h1>
        <form action="/teams/{{editTeam.id}}/update" method="post">
            <div class="form-control">
                <label for="teamName">Edit this team's name:&nbsp;</label>
                <input id="teamName" name="teamName" type="text" value="{{editTeam.teamName}}">
            </div>
            <br>
            <div class="form-control">
                <label for="description">Edit this team's description:&nbsp;</label>
                <input id="description" name="description" type="text" value="{{editTeam.description}}">
            </div>
            <br>
            <div class="form-control">
                <label for="memberThree">Add member to roster:&nbsp;</label>
                <input id="memberThree" name="memberThree" type="text" value="{{anotherMember}}">
            </div>
            <br>
            <button type="submit" class="btn btn-success">Submit Entry</button>
    {{else}}

        <h1>Enter new team here!</h1>

        <form action="/teams/new" method="post">
            <div class="form-control">
                <label for="teamName">Team Name:&nbsp;</label>
                <input id="teamName" name="teamName" type="text">
            </div>
            <br>
            <div class="form-control">
                <label for="description">Team Description:&nbsp;</label>
                <input id="description" name="description" type="text">
            </div>
            <br>
            <div class="form-control">
                <label for="memberOne">Member Name:&nbsp;</label>
                <input id="memberOne" name="memberOne" type="text">
            </div>
            <br>
            <div class="form-control">
                <label for="memberTwo">Next Member Name:&nbsp;</label>
                <input id="memberTwo" name="memberTwo" type="text">
            </div>
            <br>
            <button type="submit" class="btn btn-success">Submit Entry</button>

        </form>
    {{/if}}
{{/partial}}

{{> layout.hbs}}







