

{{#partial "content"}}
    <div class="well">
        {{#if editmember}}
            <h1>Edit this member!</h1>
        <form action="/teams/{{editmember.teamid}}/members/{{editmember.memberid}}/update" method="post">
            <div class="form-control">
                <label for="membername">Modify member name:&nbsp;</label>
                <input id="membername" name="membername" type="text" placeholder={{editmember.membername}}>
                <button type="submit" class="btn btn-warning">ENTER</button>
            </div>
        </form>

        {{else}}

            <h1>Enter new member here!</h1>

            <form action="/teams/{{teams.teamid}}/members/new" method="post">
                <div class="form-control">
                    <label for="teamName">Team Name:&nbsp;</label>
                    <select id="teamName" name="teamName" type="text">
                        {{#each teams}}
                            <option value="{{this.teamid}}">{{this.teamname}} </option>
                        {{/each}}
                    </select>
                </div>
                <br>
                <div class="form-control">
                    <label for="membername">New member name:&nbsp;</label>
                    <input id="membername" name="membername" type="text"required>
                </div>
                <br>
                <br>
                <button type="submit" class="btn btn-success">Submit Entry</button>

            </form>
        {{/if}}
    </div>
{{/partial}}

{{> layout.hbs}}

