{{#partial "content"}}
<div class="well">
    {{#if editteam}}
        <h1>Edit this Team!</h1>
        <form action="/teams/{{editteam.teamid}}/update" method="post">
            <div class="form-control">
                <label for="teamname">Edit this team's name:&nbsp;</label>
                <input id="teamname" name="teamname" type="text" placeholder={{editteam.teamname}} value="{{editTeam.teamname}}" required>
            </div>
            <br>
            <div class="form-control">
                <label for="description">Edit this team's description:&nbsp;</label>
                <input id="description" name="description" type="text" placeholder={{editteam.description}} value="{{editTeam.description}}" required>
            </div>
            <br>
        <h1>Add New Member!</h1>
            <div class="form-control">
                <label for="membername">Add member to roster:&nbsp;</label>
                <input id="membername" name="membername" type="text" value="{{anotherMember}}">
            </div>
            <br>
            <button type="submit" class="btn btn-success">Submit Entry</button>
    {{else}}

        <h1>Enter new team here!</h1>

        <form action="/teams/new" method="post">
            <div class="form-control">
                <label for="teamname">Team Name:&nbsp;</label>
                <input id="teamname" name="teamname" type="text" required>
            </div>
            <br>
            <div class="form-control">
                <label for="description">Team Description:&nbsp;</label>
                <input id="description" name="description" type="text"required>
            </div>
            <br>
            </div>
            <br>
            <button type="submit" class="btn btn-success">Submit Entry</button>

        </form>
    {{/if}}
</div>
{{/partial}}

{{> layout.hbs}}



