{{#partial "content"}}
    <div class="well">
        <h5>Team name:</h5>
        <p>{{ teams.teamName }}</p>
        <h5>Team details:</h5>
        <p>{{teams.description}}</p>
        <p>Team ID# {{teams.id}}</p>
        <ul>
            <li>Team Roster Members: &nbsp; {{teams.roster}}</li>
        </ul>

        <br>
        <p class="btn btn-success"><a href="/teams/{{teams.id}}/update">Modify Team Details/Add New Member</a></p> &nbsp;
        <p class="btn btn-warning"><a href="/">Return to Home Page</a></p>
    </div>
{{/partial}}

{{> layout.hbs}}